# 读取CSV文件

In [41]:
import pandas as pd
import numpy as np
from pandas import Series,DataFrame#方便使用Series和DataFrame将其引入本地命名空间

In [32]:
#数据文件读写，从student2.txt中读取数据保存至DataFrame对象
col_name = ['性别','年龄','身高','体重','省份','成绩']
student = pd.read_csv(r"C:\Users\Administrator\Desktop\联邦学习\students1.txt",names=col_name)
student

      性别  年龄   身高  体重         省份  成绩
0  femal  22  166  52    HaiNnan  88
1  femal  18  175  66  ChongQing  99
2   male  22  180  62     FuJian  57
3   male  20  177  72   LiaoNing  79
4   male  20  172  74   ShanDong  91

In [33]:
#查看数据
student[:2]

      性别  年龄   身高  体重         省份  成绩
0  femal  22  166  52    HaiNnan  88
1  femal  18  175  66  ChongQing  99

## 例题3-7 
新建DataFrame对象stu,并将数据保存到out.csv文件

In [36]:
data = [[19,68,170],[20,65,168],[18,65,175]]
stu = DataFrame(data,
               index = [1,2,3],
               columns = ['age','height','weight'])

In [37]:
student.to_csv('out.csv',mode='w',header= True,index= False)

###
-####header

header=True（默认）：表示导出 CSV 文件时包含列名。

student 是 DataFrame，列名（如 'Name', 'Age'）会被写入 CSV 的第一行。

header=False：表示不包含列名，仅导出数据部分。


-####index

index=False（推荐）：表示不导出行索引（即最左侧的 0, 1, 2, ... 这类默认索引）。

如果你的 DataFrame 没有自定义索引（如时间索引、ID 索引等），通常设为 False 以避免 CSV 中多出一列无意义的数字。

index=True（默认）：会导出行索引，在 CSV 中多出一列。

### 例3-8 读取excel文件

In [ ]:
#将序号列作为index，跳过前3行
>>> student = pd.read_excel( 'data\student3.xlsx', 
'Group1', index_col=0, skiprows=3 ) #跳过0,1,2行，skiprow=[1,2]表示跳过第2,3行
>>> student[:2]

## 课后作业
1. 创建50×7的DataFrame对象，数据为 [10,99]之间的随机整数；

columns为字符a-g；将DataFrame对象保存到csv文件中。

【提示】使用NumPy的随机生成函数randint()生成数据。

2. 海伦一直使用在线交友网站寻找适合的约会对象, 她将交友数据存放在datingTestSet.xls文件中。

1）从文件中读取有效数据保存到Dataframe对象中，跳过所有文字解释行；

2）列索引名设为 ['flymiles','videogame','icecream','type‘]；

3）显示读取到的前5条数据；

4）显示所有'type'为'largeDoses‘的数据；

5）将平均每周玩视频游戏时间超过10的数据都改成10；

#### 创建一个50*7的DataFrame对象并保存为csv

In [42]:
#创建一个50*7的DataFrame对象并保存为csv
data = np.random.randint(10,100,size = (50,7)) #生成50*7的随机数，范围是10-100

In [43]:
df = pd.DataFrame(data,columns=list('abcdefg')) #创建DataFrame对象，列名为a-g

In [44]:
df.to_csv('random_data.csv',index=False) #保存到csv文件，无行索引

##### 查找刚刚的csv文件导出路径

In [45]:
import os

# 获取当前工作目录
current_dir = os.getcwd()
csv_path = os.path.join(current_dir, 'random_data.csv')

In [46]:
print(f"文件已保存到：{csv_path}")

文件已保存到：C:\Users\Administrator\random_data.csv

#### 2. 处理海伦的约会数据